

body {
  font-family: Lato;
  font-weight: 300;
  background: #baffc9;
}

#calculator {
	width: 300px;
  	background: #ffdfba;
  	margin: 100px auto;
  	padding: 20px;
}

#calcButtons {
  width: 300px;
}

#total {
  position: relative;
  width: 300px;
  background: white;
  height: 60px;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 30px;
  text-align: right;
}

td {
  width: 75px;
  height: 60px;
  background-color: #ffe4e1;
  color: black;
  font-size: 20px;
  font-family: Lato;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
}

.operator {
  background: #ffffba;
}

.equals {
  background-color: ##bae1ff;
  color: black;
}
